@using Models;
@model _2FAUTHModel;
<p>Please insert the token here</p>
<p>@Model.Token</p>

<form method="post">
    <input type="hidden" asp-for="Token"/>
    <hr/>
    <div class="row">
        <div class="col-sm-7">
            <div class="col-md-12">
                <label asp-for="Code"></label>
                <input type="text" asp-for="Code" class ="form-control" placeholder="Write the code"/>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="col-sm-12 pt-4">
                    <button type="submit" class="btn btn-primary mt-3">Send</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
    } 