@using Models;
@model VerifyData2FactorModel;

<h2>Verify the code of the authenticator</h2>

<form method="post" asp-controller="Account" asp-action="Verify2FactorCode" asp-route-returnurl="@ViewData["returnUrl"]">
    <div class="text-danger" asp-validation-summary="All"></div>
    <input type="hidden" asp-for="RemenberMe" />
    <hr/>
    <div class="row">
        <div class="col-sm-7">
            <div class="col-md-12">
                <label asp-for="Code"></label>
                <input type="text" asp-for="Code" class ="form-control" placeholder="Write the code"/>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="col-sm-12 pt-4">
                    <button type="submit" class="btn btn-primary mt-3">Send</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
    } 